body {
    margin:0; 
    padding:0; 
    text-align:center; /* used to center div in IE */
}
#classEx {

}

#thumbs {
    width:600px; 
    margin:0 auto;
    background:#fff; 
    text-align:left;
    border:1px solid #ccc;
    border-top:none; 
    padding:25px; 
    border-radius:0 0 5px 5px;
    
    
}
#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    background:black repeat; 
    text-align:center;
}
#lightbox p {
    text-align:right; 
    color:#fff; 
    margin-right:20px; 
    font-size:12px; 
}
#lightbox img {
    box-shadow:0 0 25px #111;
    max-width:940px;
}